// Point to the main script in the repository
manifest {
  name = 'nf-amrfinderplus'
  author = 'Sunit Jain'
  homePage = 'https://github.com/fischbachlab/nf-amrfinderplus'
  description = 'Given a fasta file, run NCBI amrfinderplus'
  mainScript = 'main.nf'
  version = '0.0.1'
  defaultBranch = 'main'
}

// Uncomment the following block for local testing
// profiles {
//   local {
//     process.executor = 'local'
//     docker.enabled = true
//   }

//   awsbatch {
//     includeConfig "${projectDir}/conf/aws_batch.config"
//   }
// }
// Comment the following line for local testing
includeConfig "${projectDir}/conf/aws_batch.config"

params {
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them) 
 * Each of the following parameters can be specified as command line options
 */
  seedfile = "path/to/default/seedfile.csv"
  // Provide a default seedfile path
  outdir = "s3://genomics-workflow-core/Results/AMRFinderPlus"
  project = "00_Test"
  prefix = "default_prefix"
  // Ensure workingpath is set correctly
  workingpath = "${params.outdir}/${params.project}/${params.prefix}"

  docker_ncbi_amr = "458432034220.dkr.ecr.us-west-2.amazonaws.com/ncbi/amr:20230825232136"
  max_cpus = 32
  max_memory = 128.GB
  max_time = 12.h
}

process {
  maxForks = 100
  cache = false
  maxRetries = 5
  errorStrategy = 'finish'

  withName: amr {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 1.hour * task.attempt }
    container = params.docker_ncbi_amr
    errorStrategy = { task.exitStatus == 0 ? 'finish' : 'retry' }
  }
}
