// Point to the main script in the repository
manifest {
  name = 'nf-amrfinderplus'
  author = 'Sunit Jain'
  homePage = 'https://github.com/fischbachlab/nf-amrfinderplus'
  description = 'Given a fasta file, run NCBI amrfinderplus'
  mainScript = 'main.nf'
  version = '0.0.1'
  defaultBranch = 'main' //github branch name
}

includeConfig "$projectDir/conf/aws_batch.config"

aws {
  region = "us-west-2"
}

params {
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them) 
 * Each of the following parameters can be specified as command line options
 */
  seedfile = null
  outdir = "s3://genomics-workflow-core/Results/AMRFinderPlus/"
  project = "00_Test"
  prefix = "default_prefix"

  docker_ncbi_amr = "458432034220.dkr.ecr.us-west-2.amazonaws.com/ncbi/amr:20230825232136"
  max_cpus = 32
  max_memory = 128.GB
  max_time = 12.h
}

process {
  maxForks = 500
  cleanup = true
  cache = false
  executor = 'awsbatch'
	queue = 'default-maf-pipelines'
}
