// from https://github.com/nextflow-io/nextflow/issues/1371#issuecomment-587958867
process {
	executor = 'awsbatch'
	queue = 'default-maf-pipelines'
	cache = false
}

docker {
	enabled = true
}

executor {
	submitRateLimit = '20/s'
	queueSize = 200
}

aws {
	region = 'us-west-2'
	client {
		protocol = 'https'
		uploadStorageClass = 'ONEZONE_IA'
		maxErrorRetry = 100
		uploadChunkSize = '100MB'
		uploadMaxAttempts = 10
		uploadRetrySleep = '10 sec'
	}

	batch {
		maxTransferAttempts = 100
		delayBetweenAttempts = 10
		maxParallelTransfers = 10
	}
}
